<%- include('partials/head') %>


<div class="temp">
    <img src="http://assets.api.hgbrasil.com/weather/images/<%=resposta.results.img_id%>.png" alt="">
    <p>Cidade: <%= resposta.results.city%> </p>
    <p>Temperatura atual: <%= resposta.results.temp %>&#8451 </p>
    <p>Temperatura minima para o dia: <%= resposta.results.forecast[0].min %>&#8451 </p>
    <p>Temperatura maxima para o dia: <%= resposta.results.forecast[0].max %>&#8451 </p>
    <p>Condição climatica: <%= resposta.results.forecast[0].description %></p>
    
    <form action="/tempo/<%= resposta.results.city %>" method="post" class="add">
        <button class="adicionar">Adicionar à minha lista</button>
        <button class="more">+ Previsões</button>
    </form>

</div>



<%- include('partials/footer') %>